/*variaveis*/
:root {
    --bg-color: #ebebeb;
    --input-placeholder: #d4d4d4;
    --input-bg: #efefef;
    --texto-destaque: #FFFF;
    --azul-destaque: #2a7ae4;
    --bg-contato: #Eaf2fd;
}

/*normalize*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Releway', sans-serif;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

/*padrão de projeto*/

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input::placeholder, textarea::placeholder{
    color: var(--input-placeholder);
    padding: 2%;
}

a{
    text-decoration: none;
    color: var(--azul-destaque);
    font-weight: 800;
}

button{
    cursor: pointer;
}

header{
    padding: 32.5px 154px;
    background-color: var(--texto-destaque);
}

nav{
    display: flex;
    align-items: center;
}
.logo-busca {
    margin-left: 175px;
    width: 601px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img{
    height: 29.17px;
    width: 40.02px;
}
.logo p {
    font-size: 26px;
    font-weight: bolder;
}
.logo .logo-azul{
    margin-left: 10px;
    color: var(--azul-destaque);
}
.logo-busca input{
    margin-left: 10%;
    width: 393px;
    height: 40px;
    border-radius: 30px;
    padding: 1% 3%;
    border: none;
    background-color: var(--input-bg);
    background-image: url("../img/lupa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 320px;
}
.login{
    width: 600px;
    display: flex;
    justify-content: end;  
}
.login button{
      width: 182px;
      height: 51px;
      background: none;
      border: solid 1px var(--azul-destaque);
      color: var(--azul-destaque);
      text-transform: uppercase;
}
.login button:hover{
      background-color: var(--azul-destaque);
      color: var(--texto-destaque);
      transition: 0.5s;
}
/*sessão de destaque*/
.destaque{
    height: 352px;
    background-image: url("../img/banner.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 32px;
}
.banner{
    width: 751px;
    height: 320px;
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.banner h1 {
    color: var(--texto-destaque);
    font-size: 52px;
    font-weight: bold;
}
.banner h4{
    color: var(--texto-destaque);
    font-size: 22px;
    font-weight: bold;
}
.banner button{
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    height: 51px;
    width: 130px;
}
/*sessão de produtos*/
.geral-prods{
    display: flex;
    flex-direction: column;
    width: 1136px;
    margin: 0 auto;
}
.prod-titulo{
    display: flex;
    justify-content: space-between;
}
.prod-titulo .titulo{
    font-size: 32px;
    font-weight: bold;
}
.sessao-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 306px;
    width: 1136px;
    margin-bottom: 64px;
    justify-content: space-between;
}
